<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-section') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- cards -->

    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <%- include('./components/card-component') %> <%-
        include('./components/card-component') %> <%-
        include('./components/card-component') %> <%-
        include('./components/card-component') %> <%-
        include('./components/card-component') %> <%-
        include('./components/card-component') %>
      </div>
    </div>
  </body>
</html>
